snippet init "specify interpreter" b
#!/bin/usr/python3
# Author: Joseph Moran
endsnippet

snippet fun "Create Python Function" b
def ${1:name}():
    pass
endsnippet

snippet todo "Create TODO" b
# TODO: `echo $USER` ${1:desc} `!v strftime("%c")`
endsnippet
